<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/admin.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
</head>

<body>
    <nav class="fixed top-0 z-50 w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700">
        <div class="px-3 py-3 lg:px-5 lg:pl-3">
            <div class="flex items-center justify-between">
                <div class="flex items-center justify-start rtl:justify-end">
                    <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar"
                        aria-controls="logo-sidebar" type="button"
                        class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
                        <span class="sr-only">Open sidebar</span>
                        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path clip-rule="evenodd" fill-rule="evenodd"
                                d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
                            </path>
                        </svg>
                    </button>
                    <a href="https://nexxlokesh.pro" class="flex ms-2 md:me-24">
                        <span
                            class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-white">redefine</span>
                    </a>
                </div>
                <div class="flex items-center">
                    <div class="flex items-center ms-3">
                        <div>
                            <button type="button"
                                class="flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
                                aria-expanded="false" data-dropdown-toggle="dropdown-user">
                                <span class="sr-only">Open user menu</span>
                                <img class="w-8 h-8 rounded-full"
                                    src="https://flowbite.com/docs/images/people/profile-picture-5.jpg"
                                    alt="user photo">
                            </button>
                        </div>
                        
                        <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-sm shadow-sm dark:bg-gray-700 dark:divide-gray-600"
                            id="dropdown-user">
                            <div class="px-4 py-3" role="none">
                                <p class="text-sm text-gray-900 dark:text-white" role="none">
                                    zihuuhere z
                                </p>
                                <p class="text-sm font-medium text-gray-900 truncate dark:text-gray-300" role="none">
                                   client_id: user_zihuuhere_z_1749115681676
                                </p>
                                <p class="text-sm font-medium text-gray-900 truncate dark:text-gray-300" role="none">
                                   password: 8f775ed37babc9d4
                                </p>
                            </div>
                            <ul class="py-1" role="none">
                                <li>
                                    <a href="/auth/logout"
                                        class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                                        role="menuitem">Sign out</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <aside id="logo-sidebar"
        class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
        aria-label="Sidebar">
        <div class="h-full px-3 pb-4 overflow-y-auto bg-white dark:bg-gray-800">
            <ul class="space-y-2 font-medium">
                <li onclick="showSection('users')">
                    <a href="#"
                        class="flex items-center justify-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <i
                            class="ri-group-2-line text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white text-3xl"></i>
                        <span class="flex-1 ms-3 whitespace-nowrap">Users</span>
                    </a>
                </li>
                <li onclick="showSection('keys')">
                    <a href="#keys"
                        class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <i
                            class="ri-key-2-line text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white text-3xl"></i>
                        <span class="flex-1 ms-3 whitespace-nowrap">Keys</span>
                        <span
                            class="inline-flex items-center justify-center w-3 h-3 p-3 ms-3 text-sm font-medium text-blue-800 bg-blue-100 rounded-full dark:bg-blue-900 dark:text-blue-300"><i
                                class="ri-add-fill" onclick="showform()"></i></span>
                    </a>
                </li>
                <li onclick="showSection('settings')">
                    <a href="#settings"
                        class="flex items-center justify-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <i
                            class="ri-settings-6-line text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white text-3xl"></i>
                        <span class="flex-1 ms-3 whitespace-nowrap">Settings</span>
                    </a>
                </li>
            </ul>
        </div>
    </aside>

    <!-- keygen -->
    <div class="overlay fixed w-full h-screen z-50" style="background: #00000034; display: none;" onclick="hideform()">
        <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
            onclick="event.stopPropagation()">
            <form action="/admin/generate-key" method="POST"
                class="bg-white text-gray-800 p-8 rounded-lg shadow-md w-full max-w-md border border-gray-300">
                <h2 class="text-xl font-bold mb-6 text-center">Create A New Key</h2>

                <!-- License Amount -->
                <input name="amount" type="number" placeholder="License Amount"
                    class="w-full mb-4 px-4 py-2 rounded border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500"
                    required>

                <!-- License Mask -->
                <input name="mask" type="text" value="aimguard-xxxxx-xxxxxxx-xxxxxx-xxxx" placeholder="License Mask"
                    class="w-full mb-4 px-4 py-2 rounded border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500">

                <!-- Checkboxes -->
                <div class="flex items-center justify-between mb-4">
                    <label class="flex items-center space-x-2">
                        <input id="default-checkbox" name="lowercase" type="checkbox" value="on"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <span>Lowercase</span>
                    </label>
                    <label class="flex items-center space-x-2">
                        <input id="default-checkbox" name="uppercase" type="checkbox" value="on"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <span>Uppercase</span>
                    </label>
                </div>

                <!-- Dropdown -->
                <select name="type"
                    class="w-full mb-4 px-4 py-2 rounded border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500">
                    <option value="1">1 (default)</option>
                    <option value="2">2 (Premium)</option>
                    <option value="3">3 (Extreme)</option>
                </select>

                <!-- License Note -->
                <input name="note" type="text" placeholder="License Note"
                    class="w-full mb-4 px-4 py-2 rounded border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500">

                <!-- License Expiry Unit -->
                <select name="expiry_unit"
                    class="w-full mb-4 px-4 py-2 rounded border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500">
                    <option>Seconds</option>
                    <option>Minutes</option>
                    <option>Hours</option>
                    <option>Days</option>
                </select>

                <!-- License Duration -->
                <input name="duration" type="number" placeholder="License Duration"
                    class="w-full mb-6 px-4 py-2 rounded border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500"
                    required>

                <!-- Generate Button -->
                <button type="submit" class="w-full bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 rounded"
                    style="cursor: pointer;">
                    Generate Keys
                </button>
            </form>

        </div>

    </div>

    <div class="p-4 sm:ml-64">

        <div class="relative p-4 border-gray-200 rounded-lg dark:border-gray-700 mt-14">
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg content-section" id="users">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                HWID
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Users
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Expiry
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>

                </table>
            </div>


            <div class="relative overflow-x-auto shadow-md sm:rounded-lg content-section" id="keys"
                style="display: none;">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                Product Keys
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Used
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Note
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Duration
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        


                    </tbody>
                </table>
            </div>


            <div class="relative overflow-x-auto content-section" id="settings" style="display: none;">

                <h3 class="mb-4 font-semibold text-gray-900 dark:text-white">Application Settings</h3>
                <form action="/admin/update-settings" method="post"
                    class="flex flex-wrap items-center gap-4 bg-white p-4 rounded-lg shadow-md w-full">

                    <!-- HWID Lock -->
                    <div
                        class="flex items-center min-w-[300px] max-h-[10px] flex-1 ps-3 border border-gray-200 rounded-lg dark:border-gray-600">
                        <input id="hwid-checkbox" name="hwidLock" type="checkbox" value="true"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                        <label for="hwid-checkbox"
                            class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">HWID
                            Lock</label>
                    </div>

                    <!-- Pause App -->
                    <div
                        class="flex items-center min-w-[300px] flex-1 ps-3 border border-gray-200 rounded-lg dark:border-gray-600">
                        <input id="pause-checkbox" name="pauseApp" type="checkbox" value="true"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                        <label for="pause-checkbox"
                            class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Pause
                            App</label>
                    </div>

                    <!-- Dummy Input -->
                    <input type="text" name="version" placeholder="e.g. 1.0.0"
                        class="min-w-[300px] flex-1 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />

                    <!-- Submit Button -->
                    <button type="submit"
                        class="min-w-[300px] flex-1 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                        Update
                    </button>

                </form>
                <h3 class="mt-10 mb-5 font-semibold text-gray-900 dark:text-white">Alert Messages</h3>
                <form method="POST" action="/admin/update-alerts"
                    class="flex flex-wrap items-center gap-4 bg-white p-4 rounded-lg shadow-md w-full">

                    <!-- App Pause Message -->
                    <div class="w-full">
                        <label for="app_pause" class="block mb-2 text-sm font-medium text-gray-900">Pause App
                            Message</label>
                        <input type="text" id="app_pause" name="app_pause" placeholder="Pause message"
                            class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg p-2.5" />
                    </div>

                    <!-- Outdated Version Message -->
                    <div class="w-full">
                        <label for="outdated_version" class="block mb-2 text-sm font-medium text-gray-900">Outdated
                            Version Message</label>
                        <input type="text" id="outdated_version" name="outdated_version"
                            placeholder="Outdated version message"
                            class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg p-2.5" />
                    </div>

                    <!-- Key Already Used Message -->
                    <div class="w-full">
                        <label for="key_used" class="block mb-2 text-sm font-medium text-gray-900">Key Already
                            Used</label>
                        <input type="text" id="key_used" name="key_used" placeholder="Key used message"
                            class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg p-2.5" />
                    </div>

                    <!-- Subscription Expired -->
                    <div class="w-full">
                        <label for="subscription_expired"
                            class="block mb-2 text-sm font-medium text-gray-900">Subscription Expired</label>
                        <input type="text" id="subscription_expired" name="subscription_expired"
                            placeholder="Subscription expired message"
                            class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg p-2.5" />
                    </div>

                    <!-- Subscription Mismatch -->
                    <div class="w-full">
                        <label for="sub_mismatch" class="block mb-2 text-sm font-medium text-gray-900">Subscription
                            Mismatch</label>
                        <input type="text" id="sub_mismatch" name="sub_mismatch"
                            placeholder="Subscription mismatch message"
                            class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg p-2.5" />
                    </div>

                    <!-- Username Mismatch -->
                    <div class="w-full">
                        <label for="username_mismatch" class="block mb-2 text-sm font-medium text-gray-900">Username
                            Mismatch</label>
                        <input type="text" id="username_mismatch" name="username_mismatch"
                            placeholder="Invalid username message"
                            class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg p-2.5" />
                    </div>

                    <!-- Username Already Exists -->
                    <div class="w-full">
                        <label for="exsit_username" class="block mb-2 text-sm font-medium text-gray-900">Username
                            Already Exists</label>
                        <input type="text" id="exsit_username" name="exsit_username"
                            placeholder="Username already exists message"
                            class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg p-2.5" />
                    </div>

                    <!-- Password Mismatch -->
                    <div class="w-full">
                        <label for="password_mismatch" class="block mb-2 text-sm font-medium text-gray-900">Password
                            Mismatch</label>
                        <input type="text" id="password_mismatch" name="password_mismatch"
                            placeholder="Password mismatch message"
                            class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg p-2.5" />
                    </div>

                    <!-- HWID Mismatch -->
                    <div class="w-full">
                        <label for="hwid_mismatch" class="block mb-2 text-sm font-medium text-gray-900">HWID
                            Mismatch</label>
                        <input type="text" id="hwid_mismatch" name="hwid_mismatch" placeholder="HWID mismatch message"
                            class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg p-2.5" />
                    </div>

                    <!-- Submit Button -->
                    <button type="submit"
                        class="w-full bg-blue-600 text-white font-semibold py-2.5 rounded-lg hover:bg-blue-700">
                        Update
                    </button>
                </form>



            </div>


        </div>
    </div>

    <script src="/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
</body>

</html>
